{% extends "users/base.html"%}
{% load static %}
{% block content %}
	<div class="content-section container shadow mb-6">
		<div class="border-bottom pt-3">
			<p class="h4 text-center">Νέα - Ανακοινώσεις</p>
		</div>
		<nav class="nav flex-column col-md-3">
	 		<a class="nav-link active" id="pills-home-tab" href="#">Πρόσφατες</a>
			<a class="nav-link" id="pills-profile-tab" href="#">Φοιτητές</a>
			<a class="nav-link" id="pills-contact-tab" href="#">Εκδότες</a>
			<a class="nav-link" id="pills-hey-tab" href="#">Γραμματείες</a>
		</nav>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"></div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
			<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
			<div class="tab-pane fade" id="pills-hey" role="tabpanel" aria-labelledby="pills-hey-tab"></div>
		</div>
		<div class="text-center my-4">
			<img src="{% static '/1.png' %}" class="rounded" alt="...">
		</div>
		<div class="col-md-12">
			<div class="border-top pt-3">
				<nav class="small" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'users-home' %}">Αρχική</a></li>
						<li class="breadcrumb-item active" aria-current="page">Ανακοινώσεις</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	
{% endblock content %}