{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" type="image/png" href="{% static '/favicon.png' %}"/>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<title>Εύδοξος</title>
</head>
<body>
	<header class="site-header sticky-top">
		<nav class="navbar navbar-expand-lg navbar-dark bg-steel " id="top-nav">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle-top" aria-controls="navbarToggle-top" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggle-top">
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link py-0 {% if request.resolver_match.url_name == 'users-announcements' %}active{% endif %}" href="{% url 'users-announcements' %}"><img style="display: inline-block; height: 15px; margin-top: -2px" src="{% static '/bell.png' %}"> Ανακοινώσεις</a>
					<a class="nav-item nav-link py-0 {% if request.resolver_match.url_name == 'users-about' %}active{% endif %}" href="{% url 'users-about' %}"><img style="display: inline-block; height: 15px; margin-top: -2px" src="{% static '/info.png' %}"> Βοήθεια</a>
					<a class="nav-item nav-link py-0 {% if request.resolver_match.url_name == 'users-contact' %}active{% endif %}" href="{% url 'users-contact' %}"><img style="display: inline-block; height: 15px; margin-top: -2px" src="{% static '/chat.png' %}"> Επικοινωνία</a>
					{% if user.is_authenticated %}
						<a class="nav-item nav-link py-0 {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}"><img style="display: inline-block; height: 15px; margin-top: -2px" src="{% static '/profile.png' %}"> Προφίλ</a>
						<a class="nav-item nav-link py-0" href="{% url 'logout' %}"><img style="display: inline-block; height: 15px; margin-top: -2px" src="{% static '/left.png' %}"> Αποσύνδεση</a>
					{% else %}
						<a class="nav-item nav-link py-0 {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login' %}"><img style="display: inline-block; height: 15px; margin-top: -2px" src="{% static '/login.png' %}">   Σύνδεση</a>
						<a class="nav-item nav-link py-0 {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'register' %}"><img style="display: inline-block; height: 15px; margin-top: -2px" src="{% static '/add-user.png' %}"> Εγγραφή</a>
					{% endif %}
				</div>
			</div>
		</nav>	
		<nav class="navbar navbar-expand-lg navbar-dark bg-steel">
				<div class="container-fluid">
					<a class="navbar-brand mr-4" href="{% url 'users-home' %}"><img style="display: inline-block; height: 30px; margin-top: -5px" src="{% static '/eudoxus-logo.png' %}">Εύδοξος</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link {% if request.resolver_match.url_name == 'users-home' %}active{% endif %}" href="{% url 'users-home' %}">Αρχική</a>
						<li class="nav-item dropdown" id="drop1">
							<a class="nav-link {% if request.resolver_match.url_name == 'users-order' or request.resolver_match.url_name == 'users-exchange' or request.resolver_match.url_name == 'users-student' %}active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Φοιτητής</a>
							<div class="dropdown-menu" id="drop2">
								<a class="dropdown-item" href="{% url 'users-order' %}">Δήλωση</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'users-display' %}">Συγγράμματα</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'users-exchange' %}">Ανταλλαγή</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'users-student' %}">Οδηγός Φοιτητή</a>
							</div>
						</li>
						<li class="nav-item dropdown" id="drop1">
							<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Εκδότης</a>
							<div class="dropdown-menu" id="drop2">
								<a class="dropdown-item" href="{% url 'users-publisher' %}">Διαχείριση Συγγραμμάτων</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Οδηγός Εκδότη</a>
							</div>
						</li>
						<li class="nav-item dropdown" id="drop1">
							<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Σημείο Διανομής</a>
							<div class="dropdown-menu" id="drop2">
								<a class="dropdown-item" href="#">Παράδοση Συγγραμμάτων</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Οδηγός Σημείου Διανομής</a>
							</div>
						</li>
						<li class="nav-item dropdown" id="drop1">
							<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Γραμματεία</a>
							<div class="dropdown-menu" id="drop2">
								<a class="dropdown-item" href="#">Πρόγραμμα Σπουδών</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Οδηγός Γραμματείας</a>
							</div>
						</li>
					</div>
					<!-- Navbar Right Side -->
					<!--<form class="navbar-form navbar-left form-inline" action="/action_page.php">
				      <div class="form-group">
				        <input type="text" class="form-control" placeholder="Αναζήτηση">
				      </div>
				    </form>-->
				    {% if request.resolver_match.url_name == 'users-home' %}
					<div class="navbar-nav ">
						<form class="form-inline" method="GET" action=''>
							<input class="form-control mr-sm-2" type="search" name='q' placeholder="Αναζήτηση" aria-label="Search" value="{{ request.GET.q }}">
							<button class="btn btn-outline-info my-2 my-sm-0" type="submit" value="Search"><i class="fa fa-search"></i></button>
						</form>
					</div>
					{% endif %}
				</div>
			</div>
		</nav>
	</header>
	<main role="main">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				{% block content %}{% endblock %}
	</main>
	<footer class="page-footer font-small blue pt-4">
		<div class="container-fluid text-center text-md-left">
			<div class="row">
				<div class="col-md-2 mt-md-0 mt-2">
					<h6 class="text-uppercase">Ευδοξος</h6>
						<p>Ηλεκτρονική Υπηρεσία Ολοκληρωμένης Διαχείρισης Συγγραμμάτων.</p>
				</div>
				<hr class="clearfix w-100 d-md-none pb-3">
				<div class="col-md-2 mb-md-0 mb-2">
					<h6 class="text-uppercase">Φοιτητης</h6>
					<ul class="list-unstyled">
						<li><a href="{% url 'users-order' %}">Δήλωση</a></li>
						<li><a href="{% url 'users-display' %}">Συγγράμματα</a></li>
						<li><a href="{% url 'users-exchange' %}">Ανταλλαγή</a></li>
						<li><a href="{% url 'users-student' %}">Οδηγός Φοιτητή</a></li>
					</ul>
				</div>
				<div class="col-md-2 mb-md-0 mb-2">
					<h6 class="text-uppercase">εκδοτης</h6>
					<ul class="list-unstyled">
						<li><a href="{% url 'users-publisher' %}">Διαχείριση Συγγραμμάτων</a></li>
						<li><a href="#!">Οδηγός Εκδότη</a></li>
					</ul>
				</div>
				<div class="col-md-2 mb-md-0 mb-2">
					<h6 class="text-uppercase">σημειο διανομης</h6>
					<ul class="list-unstyled">
						<li><a href="#!">Παράδοση Συγγραμμάτων</a></li>
						<li><a href="#!">Οδηγός Σημείου Διανομής</a></li>
					</ul>
				</div>
				<div class="col-md-2 mb-md-0 mb-2">
					<h6 class="text-uppercase">γραμματεια</h6>
					<ul class="list-unstyled">
						<li><a href="#!">Πρόγραμμα Σπουδών</a></li>
						<li><a href="#!">Οδηγός Γραμματείας</a></li>
					</ul>
				</div>
				<div class="col-md-2 mb-md-0 mb-2">
					<h6 class="text-uppercase">Χρησιμα</h6>
					<ul class="list-unstyled">
						<li><a href="#!">Ανακοινώσεις</a></li>
						<li><a href="#!">Βοήθεια</a></li>
						<li><a href="#!">Επικοινωνία</a></li>
						<div class="dropdown-divider"></div>
						{% if user.is_authenticated %}
							<li><a href="{% url 'profile' %}">Προφίλ</a></li>
							<li><a href="{% url 'logout' %}">Αποσύνδεση</a></li>
						{% else %}
							<li><a href="{% url 'login' %}">Σύνδεση</a></li>
							<li><a href="{% url 'register' %}">Εγγραφή</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">© 2018 Copyright:
			<a href="https://github.com/pelekoudasq/eudoxus"> di-dream@education</a>
		</div>
	</footer>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js""></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>