{% extends "users/base.html"%}
{% load static %}
{% block content %}
	<div class="content-section container">
		<div class="col-md-12">
			<div class="border-bottom pt-3">
				<p class="h4 text-center">Οδηγός Διανομέων</p>
			</div>
			<div class="text-left my-4">
				Οι διανομείς μπορούν να κάνουν εγγραφή χρήστη, και να επιλέξουν την επιλογή "Διανομέας Συγγραμμάτων". Αφού εγγραφούν θα τους ζητηθεί να
				εισάγουν την επωνυμία τους και την ακριβή τοποθεσία τους. <br>Αφού συνδεθούν μπορούν:
				<ul>
					<li>να διαθέσει τα συγγράμματα σε φοιτητές για τα οποία έχουν πραγματοποιήσει δήλωση
					<li>να ενημερώσουν το σύστημα σχετικά με τη διαθεσιμότητα των συγγραμμάτων τουςν</a></li>
				</ul>
				<br>
				Οι δηλώσεις και οι διανομές των συγγραμμάτων για το Χειμερινό Εξάμηνο 2018 - 2019 ξεκίνησαν την <b>Τετάρτη 24 Οκτωβρίου</b> και θα ολοκληρωθούν την <b>Παρασκευή 21 Δεκεμβρίου</b>
				<br>
				<br>
			</div>
			<div class="text-center my-4">
				{% if user.is_authenticated %}
				{% else %}
				Είσαι νέος Διανομέας Συγγραμμάτων;<a class="ml-2" href="{% url 'register' %}">Κάνε εγγραφή</a>
				<br>
				<br>
				{% endif %}
			</div>
			<div class="border-top pt-3">
				<nav class="small" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'users-home' %}">Αρχική</a></li>
						<li class="breadcrumb-item active" aria-current="page">Διανομείς</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
{% endblock content %}
