{% extends "users/base.html"%}
{% load static %}
{% block content %}
	<div id="carousel" class="carousel slide carousel-fade shadow mb-0" data-ride="carousel" data-interval="4000">
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
			<li data-target="#carousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<picture>
					<source srcset="{% static 'new-2000x500.jpg' %}" media="(min-width: 1400px)">
					<source srcset="{% static 'new-1400x500.jpg' %}" media="(min-width: 769px)">
					<source srcset="{% static 'new-800x500.jpg' %}" media="(min-width: 577px)">
					<img srcset="{% static 'new-600x500.jpg' %}" alt="responsive image" class="d-block img-fluid">
				</picture>
				<div class="carousel-caption mr-auto">
					<h1>Φοιτητής</h1>
					<h6 class="mb-3" style="color:#444444;">Είσαι φοιτητής; Δικαιούσαι δωρεάν συγγράμματα!</h6>
					<a href="{% url 'users-student' %}" class="btn btn-light mb-4">Μάθε περισσότερα</a>
				</div>
			</div>
			<div class="carousel-item">
				<picture>
					<source srcset="{% static 'sec-2000x500.jpg' %}" media="(min-width: 1400px)">
					<source srcset="{% static 'sec-1400x500.jpg' %}" media="(min-width: 769px)">
					<source srcset="{% static 'sec-800x500.jpg' %}" media="(min-width: 577px)">
					<img style="-webkit-filter: blur(1px);filter: blur(1px);" srcset="{% static 'sec-600x500.jpg' %}" alt="responsive image" class="d-block img-fluid">
				</picture>
				<div class="carousel-caption justify-content-center align-items-center">
					<h1 style="color:white;">Εκδότης</h1>
					<h6 class="mb-3" style="color:#fff;">Είστε εκδότης ακαδημαϊκών συγγραμμάτων; Μπορείτε να συμμετέχετε στο πρόγραμμα Εύδοξος</h6>
					<a href="{% url 'users-about' %}" class="btn btn-light mb-4">Μάθε περισσότερα</a>
				</div>
			</div>
			<div class="carousel-item">
				<picture>
					<source srcset="{% static 'dis-2000x500.jpg' %}" media="(min-width: 1400px)">
					<source srcset="{% static 'dis-1400x500.jpg' %}" media="(min-width: 769px)">
					<source srcset="{% static 'dis-800x500.jpg' %}" media="(min-width: 577px)">
					<img style="-webkit-filter: blur(3px);filter: blur(3px);" srcset="{% static 'dis-600x500.jpg' %}" alt="responsive image" class="d-block img-fluid">
				</picture>
				<div class="carousel-caption justify-content-center align-items-center">
					<h1 style="color:white;">Διανομείς</h1>
					<h6 class="mb-3" style="color:#fff;">Είστε Βιβλιοπωλείο ή Βιβλιοθήκη και θέλετε να διανείμετε ακαδημαϊκά συγγράμματα;</h6>
					<a class="btn btn-light mb-4" href="#">Μάθε περισσότερα</a>
				</div>
			</div>
			<div class="carousel-item">
				<picture>
					<source srcset="{% static 'amf-2000x500.jpg' %}" media="(min-width: 1400px)">
					<source srcset="{% static 'amf-1400x500.jpg' %}" media="(min-width: 769px)">
					<source srcset="{% static 'amf-800x500.jpg' %}" media="(min-width: 577px)">
					<img srcset="{% static 'amf-600x500.jpg' %}" alt="responsive image" class="d-block img-fluid">
				</picture>
				<div class="carousel-caption justify-content-center align-items-center">
					<h1 style="color:#3b3b3b;">Γραμματεία</h1>
					<h6 class="mb-3" style="color:#fff;">Είστε Γραμματεία ακαδημαϊκού τμήματος και θέλετε να τροποποιήσετε το Πρόγραμμα Σπουδών;</h6>
					<a class="btn btn-light mb-4" href="#">Μάθε περισσότερα</a>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<br>
	<div class="row mx-5 ">
		<div class="col-sm-3 mx p-0 content-section shadow mb-6 mt-0 p-0">
			<a href="{% url 'users-student' %}" style="text-decoration: none;">
				<div class="menubot" style="height: 200px; text-align: center;">
					<br><br><img style="display: inline-block; height: 90px; margin-top: -5px" src="{% static '/students-cap.png' %}"><br><h5>Φοιτητής</h5>
				</div>
			</a>
		</div>
		<div class="col-sm-3 mx-0 p-0 content-section shadow mb-6 mt-0 p-0">
			<a href="#" style="text-decoration: none;">
				<div class="menubot" style="height: 200px; text-align: center;">
					<br><br><img style="display: inline-block; height: 90px; margin-top: -5px" src="{% static '/library.png' %}"><br><h5>Εκδότης</h5>
				</div>
			</a>
		</div>
		<div class="col-sm-3 mx-0 p-0 content-section shadow mb-6 mt-0 p-0">
			<a href="#" style="text-decoration: none;">
				<div class="menubot" style="height: 200px; text-align: center;">
					<br><br><img style="display: inline-block; height: 90px; margin-top: -5px" src="{% static '/stack-of-books.png' %}"><br><h5>Διανομείς</h5>
				</div>
			</a>
		</div>
		<div class="col-sm-3 mx-0 p-0 content-section shadow mb-6 mt-0 p-0">
			<a href="#" style="text-decoration: none;">
				<div class="menubot" style="height: 200px; text-align: center;">
					<br><br><img style="display: inline-block; height: 90px; margin-top: -5px" src="{% static '/school-building.png' %}"><br><h5>Γραμματεία</h5>
				</div>
			</a>
		</div>
	</div>
	<br>
	<br>
	<br>
{% endblock content %}
