{% extends "users/base.html"%}
{% block content %}
	<div class="content-section container shadow mb-6">
		<div class="col-md-12">
			<h2>Έχετε αποσυνδεθεί</h2>
			<div class="border-top pt-3">
				<small class="text muted">
					<a href="{% url 'login' %}">Συνδεθείτε ξανα</a>
				</small>
			</div>
			<div class="border-top pt-3">
				<nav class="small" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'users-home' %}">Αρχική</a></li>
						<li class="breadcrumb-item active" aria-current="page">Αποσύνδεση</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br><br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock content %}