{% extends "users/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section container shadow mb-6">
		<div class="col-md-12">
			<br>
			<h3>Καλώς ήρθες {{ user.username }}!</h3>
			<div class="border-top pt-3">
			{% if student %}
				<h5>Προσωπικά Στοιχεία</h5>
				<!-- Ίδρυμα: <h6 style="display: inline;">{{ uni }}</h6><br>
				Τμήμα: <h6 style="display: inline;">{{ dept }}</h6><br>
				Email: <h6 style="display: inline;">{{ request.user.email }}</h6><br> -->
				<table>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Ίδρυμα: </td>
						<td class="h6" style="color: #444444;">{{ student.uni }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Τμήμα: </td>
						<td class="h6" style="color: #444444;">{{ student.dept }}</td>
					</tr>
					<tr>
						<td class="pr-4" style="font-weight: normal;">Email: </td>
						<td class="h6" style="color: #444444;">{{ user.email }}</td>
					</tr>
				</table>
				<br>
				<br>
				<h5>Ιστορικό Δηλώσεων Συγγραμμάτων</h5>
				{% if orders %}
					{% for order in orders %}
					{% endfor %}
				{% else %}
				<h6><small class="text-muted">Δεν έχετε πραγματοποιήσει κάποια δήλωση ακόμη.</small></h6>
				{% endif %}
			{% else %}
				Επωνυμία: <h6 style="display: inline;">{{ info.title }}</h6>
			{% endif %}
			<br>
			</div>
			<!-- <form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Αλλαγή στοιχείων</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group text-center">
					<button class="btn btn-outline-info" type="submit">Αποθήκευση</button>
				</div>
			</form> -->
			<div class="border-top pt-3">
				<nav class="small" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'users-home' %}">Αρχική</a></li>
						<li class="breadcrumb-item active" aria-current="page">Προφίλ</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br><br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock content %}