{% extends "users/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section container shadow mb-6">
		<div class="col-md-12">
			<br>
			<h3>Προφίλ Χρήστη {{ user.username }}!</h3>
			<div class="border-top pt-3">
				<br>
				<div class="row">
					<div class="col-md-4">
						{% if student %}
							<h5>Προσωπικά Στοιχεία <small><a href="{% url 'users-edit' %}"><i class="fa fa-pencil-square-o"></i></a></small></h5>
							<table>
								<tr>
									<td class="pr-4" style="font-weight: normal;">Ίδρυμα: </td>
									<td class="h6" style="color: #444444;">{{ student.uni }}</td>
								</tr>
								<tr>
									<td class="pr-4" style="font-weight: normal;">Τμήμα: </td>
									<td class="h6" style="color: #444444;">{{ student.dept }}</td>
								</tr>
								<tr>
									<td class="pr-4" style="font-weight: normal;">Email: </td>
									<td class="h6" style="color: #444444;">{{ user.email }}</td>
								</tr>
							</table>
							<br>
							<br>
						{% else %}
							<h5>Στοιχεία Λογαριασμού <small><a href="{% url 'users-edit' %}"><i class="fa fa-pencil-square-o"></i></a></small></h5>
							Επωνυμία: <h6 style="display: inline;">{{ info.title }}</h6>
						{% endif %}
					</div>
					<div class="col-md-8">
						{% if student %}
							<h5>Ιστορικό Δηλώσεων Συγγραμμάτων</h5>
							<br>
							{% if orders %}
								{% for order in orders %}
									<h6>Δήλωση: {{ forloop.counter }}</h6>
									<table class="">
										<thead>
											<tr>
												<th scope="col">Συγγράμματα:</th>
												<th scope="col">Παραλαβή από:</th>
											</tr>
										</thead>
										</tbody>
											{% for book in order.books.all %}
											<tr>
												<td><div style="text-indent: 10px;">{{ book.title }}</div></td>
												<td><div style="text-indent: 10px;">{{ book.dist }}</div></td>
											<tr>
											{% endfor %}
										</tbody>
									</table>
									<br>
								{% endfor %}
							{% else %}
								<h6><small class="text-muted">Δεν έχετε πραγματοποιήσει κάποια δήλωση ακόμη.</small></h6>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<br>
			</div>
			<div class="border-top pt-3">
				<nav class="small" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'users-home' %}">Αρχική</a></li>
						<li class="breadcrumb-item active" aria-current="page">Προφίλ</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock content %}