{% extends "users/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
	<div class="col-md-12 container">
		<div class="content-section">
			<h3>Καλώς ήρθες {{ user.username }}!</h3>
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Αλλαγή στοιχείων</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group text-center">
					<button class="btn btn-outline-info" type="submit">Αποθήκευση</button>
				</div>
			</form>
			<div class="border-bottom pt-3">
				<nav class="small" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'users-home' %}">Αρχική</a></li>
						<li class="breadcrumb-item active" aria-current="page">Προφίλ</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br><br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock content %}