{% extends "users/base.html"%}
{% load static %}
{% block content %}
	<div class="content-section container">
		<div class="col-md-12">
			<div class="border-bottom pt-3">
				<p class="h4 text-center">Οδηγός Φοιτητή</p>
			</div>
			<div class="text-center my-4">
				Ο φοιτητής εισέρχεται στην εφαρμογή φοιτητών του Ευδόξου όπου και γίνεται η πιστοποίηση - εξουσιοδότησή του (μέσω Shibboleth) με όνομα χρήστη και κωδικό πρόσβασης, τα οποία έχει λάβει από το οικείο του Τμήμα.

Αφού συνδεθεί μπορεί:

- να δει όλα τα μαθήματα/θεματικές ενότητες του προγράμματος σπουδών του Τμήματός του και τα αντίστοιχα προτεινόμενα συγγράμματα/σειρές συγγραμμάτων
- να κάνει προεπισκόπηση του εξώφυλλου, του οπισθόφυλλου, του πίνακα περιεχομένων και ενός ενδεικτικού αποσπάσματος από κάθε σύγγραμμα
- να ενημερωθεί άμεσα για την τρέχουσα διαθεσιμότητα κάθε συγγράμματος καθώς και για τα σημεία παράδοσης στην πόλη του
- να επιλέξει συγγράμματα/σειρές συγγραμμάτων για τα μαθήματα/θεματικές ενότητες στα οποία έχει εγγραφεί κατά το τρέχον εξάμηνο
- να βρει τη διεύθυνση του Σημείου Διανομής

Κατόπιν, ο φοιτητής καταχωρίζει τον αριθμό του κινητού του τηλεφώνου και το email του και λαμβάνει άμεσα από τον Εύδοξο ένα μήνυμα με τον κωδικό ΡΙΝ, με τον οποίο μπορεί να παραλαμβάνει τα επιλεγμένα συγγράμματα από τα σημεία διανομής των αντίστοιχων εκδοτών.

Όροι και Προϋποθέσεις συμμετοχής φοιτητών στο πρόγραμμα "Εύδοξος"

Οδηγίες για τη διαδικασία επιλογής συγγραμμάτων από τους φοιτητές θα βρείτε εδώ.
			</div>
			<div class="border-top pt-3">
				<nav class="small" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'users-home' %}">Αρχική</a></li>
						<li class="breadcrumb-item active" aria-current="page">Φοιτητής</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
{% endblock content %}
