{% extends "users/base.html"%}
{% load static %}
{% block content %}
	<div class="content-section container">
		<div class="col-md-12">
			<div class="border-bottom pt-3">
				<p class="h4 text-center">Οδηγός Φοιτητή</p>
			</div>
			<div class="text-left my-4">
				Ο φοιτητής μπορεί να κάνει εγγραφή χρήστη, και να επιλέξει την επιλογή "Φοιτητής". Αφού εγγραφθεί θα του ζητηθεί να επιλέξει το Ίδρυμα και το Τμήμα στο οποίο ανήκει.<br>Αφού συνδεθεί μπορεί:
				<ul>
					<li>να δει όλα τα μαθήματα και τα αντίστοιχα προτεινόμενα συγγράμματα όλων των ακαδημαϊκών Ιδρυμάτων της χώρας μέσω των <a href="{% url 'users-display' %}">διαθέσιμων συγγραμμάτων</a>.</li>
					<li>να επιλέξει και να δηλώσει τα συγγράμματα του τμήματός του που χρειάζεται μέσω της <a href="{% url 'users-order' %}">δήλωσης συγγραμμάτων</a></li>
					<li>να δει το ιστορικό δηλώσεων του στο <a href="{% url 'profile' %}">προφίλ</a> του</li>
				</ul>
				<br>
				Οι δηλώσεις και οι διανομές των συγγραμμάτων για το Χειμερινό Εξάμηνο 2018 - 2019 ξεκίνησαν την <b>Τετάρτη 24 Οκτωβρίου</b> και θα ολοκληρωθούν την <b>Παρασκευή 21 Δεκεμβρίου</b>
				<br>
				<br>
			</div>
			<div class="text-center my-4">
				{% if user.is_authenticated %}
				{% else %}
				Είσαι νέος φοιτητής;<a class="ml-2" href="{% url 'register' %}">Κάνε εγγραφή</a>
				<br>
				<br>
				{% endif %}
			</div>
			<div class="btn-toolbar" role="toolbar" style="justify-content: center;" aria-label="Toolbar with button groups">
				<div class="btn-group mr-2" role="group" aria-label="First group">
					<a class="btn btn-info" href="{% url 'users-display' %}">ΔΙΑΘΕΣΙΜΑ ΣΥΓΓΡΑΜΜΑΤΑ</a>
				</div>
				<div class="btn-group" role="group" aria-label="Second group">
					<a class="btn btn-info" href="{% url 'users-order' %}">ΔΗΛΩΣΗ ΣΥΓΓΡΑΜΜΑΤΩΝ</a>
				</div>
			</div>
			<br>
			<div class="border-top pt-3">
				<nav class="small" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'users-home' %}">Αρχική</a></li>
						<li class="breadcrumb-item active" aria-current="page">Φοιτητής</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
{% endblock content %}
